/* Content full screen */

html,
body {
    width: 100%;
    height: 100%;
}

/* Navbar */

ul.nav a:link { 
    color: dimgray !important;
}

ul.nav a:hover { 
    color: darkgray !important;
}


/* Opening screen */

.opening-screen-container {
    height: 100%;
    width: 100%;
    display: table;
}

.opening-screen-bg {
    background: url('/img/Style/OpeningScreen.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-row {
    display: table-row;
    height: 100%;
    width: 100%;
}

.header-cell {
    display: table-cell;
    vertical-align: middle;
}

.opening-screen-logo {
    height: 500px;
    width: auto;
}

.opening-screen-col {
    text-align: center;
}


/* About */

.about-img-box {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.about-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
}

.about-text-box {
    margin-top: 40px;
}

.about-text {
    padding-top: 10px;
}


/* Quote */

.quote-container {
    margin-top: 40px;
    width: 100%;
    height: 270px;
    text-align: center;
}

.quote-bg {
    background: url('/img/Style/DaVinci.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 30%;
}

.quote-text {
    font-family: "Georgia", Georgia, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding-top: 110px;
}

.quote-author {
    font-family: "Georgia", Georgia, serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: black;
    margin: 0;
    margin-left: 20%;
    text-shadow: 2px 2px 10px white;
}


/* Services */

.services-house {
    color: dodgerblue;
    font-size: 250px;
    text-shadow: 1px 1px 1px #ccc;
}

.services-text-box {
    margin-top: 40px;
}

.services-text {
    padding-top: 10px;
}

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }